BasedOnStyle: Microsoft
UseTab: Always
AccessModifierOffset: -4
BreakBeforeBraces: Allman
IndentWidth: 4
TabWidth: 4
PointerAlignment: Left
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortEnumsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: Empty
AllowShortLoopsOnASingleLine: false
ColumnLimit: 0
